@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
font-family: 'Kanit', sans-serif;

a {
  font-family: 'Kanit', sans-serif;
}
div, h3 {
  font-Family: 'Kanit', sans-serif;
}
h1 {
  font-Family: 'Kanit', bold;
}